<div class="sign-in-page-background">
  <div class="container">
    <div class="sign-in-form">
      <div class="sign-in-form__title">
        Welcome back
      </div>
      <form
        #loginForm="ngForm"
        class="sign-in-form__form form"
        (ngSubmit)="saveDetails()"
      >
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input
            #email="ngModel"
            matInput
            type="text"
            inputmode="email"
            name="email"
            required
            email
            [(ngModel)]="user.email"
            placeholder="example@abc.com">
          <mat-icon matSuffix>mail_outline</mat-icon>
          <mat-error *ngIf="email.errors?.['required']">
            Email is required
          </mat-error>
          <mat-error *ngIf="email.errors?.['email']">
            Please enter valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password:</mat-label>
          <input
            #password="ngModel"
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            name="password"
            required
            minlength="6"
            [(ngModel)]="user.password"
            placeholder="At least 6 characters">
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error
            *ngIf="password.errors?.['required']">
            Password is required
          </mat-error>
          <mat-error *ngIf="password.errors?.['minlength']">
            Password should contain at least 6 characters
          </mat-error>
        </mat-form-field>

        <div>
          <button
            class="sign-in-form__confirm-button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginForm.form.invalid"
          >Log in</button>
        </div>
      </form>
      <div>
        Don't have an account?
        <a [routerLink]="['/sign-up']">Sign up</a>
      </div>
    </div>
  </div>
</div>
