/* You can add global styles to this file, and also import other style files */

@import 'styles/theme/_theme-imports.scss';

@font-face {
  font-family: kanit;
  src: url('assets/fonts/kanit/KanitRegular.ttf') format("ttf");
}

@font-face {
  font-family: impact;
  src: url('assets/fonts/impact/ImpactRegular.ttf') format("ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  font-size: 1rem !important;
  font-family: 'kanit', sans-serif;
  color: #fafafa;
}




